{{- if .use_secrets -}}
#!/bin/bash

# linux: install bitwarden and related auth tools
{{ if eq .chezmoi.os "linux" }}
sudo apt install jq git wget gnupg gnupg2 -y
if command -v mise &> /dev/null; then
  mise use -g bitwarden
  source .bashrc
fi
{{ end }}

# darwin: install bitwarden and related auth tools
{{- if eq .osid "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF

brew 'bitwarden-cli'
brew 'gnupg'
brew 'gnupg2'

EOF
{{ end -}}

printf 'Checking if logged into Bitwarden...\n'

bw login --check > /dev/null 2>&1
logged_in=$?

if test $logged_in -eq 0
then
  printf 'Bitwarden is logged in.\n'
else
  printf '\nYou need to login and unlock your BitWarden vault.\n'
  export BW_SESSION=$(bw login --raw "$bw_email")
fi

printf 'Checking if Bitwarden vault is unlocked...\n'

bw unlock --check > /dev/null 2>&1
bw_unlocked=$?

if test $bw_unlocked -eq 0
then
  printf 'Looks like your Bitwarden vault is unlocked.\n'
else
  printf '\nYou need to unlock your BitWarden vault.\n'
  export BW_SESSION=$(bw unlock --raw)
fi

echo 'Finished Bitwarden setup.'

{{- end -}}
