#!/bin/bash

if command -v mise &> /dev/null; then
  mise use -g neovim
  source .bashrc
fi

sudo apt istall python3.13-venv ripgrep build-essential

nvim --headless "+Lazy! sync" +qa

echo 'Finished neovim setup.'
