# folders
Images
Music
Téléchargements

# hidden folders
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
.cargo
.dmrc
.fehbg
.gnupg
.librewolf
.local
.mozilla
.npm
.nvm
.pki
.pyenv
.rustup
.tree-sitter
.vim-bookmarks
.wget-hsts
.Xauthority
.xsession-errors
.xsession-errors.old
.zcompdump
.zshrc

.config/Element
.config/chromium
.config/dconf
.config/gconf
.config/lazygit
.config/libfm
.config/libreoffice
.config/pamac
.config/pavucontrol-qt
.config/pavucontrol.ini
.config/pcmanfm
.config/pulse
